.search-bar-form {
    display: flex;
    align-items: center;
    max-width:  720px;
    border-radius: 2rem;
    background-color: var(--quaternary);
    gap: 0.5rem;
    transition: background-color 0.3s ease; 
}

.search-bar-form:focus-within {
    box-shadow: 0 0 10px var(--secondary);
    background-color: white; 
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-input-group {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

.search-bar-input {
    height: 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 105%;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
}

.menu-button , .account-button{
    display: none;
}

@media (max-width: 768px) {
    .search-bar-button, .filter-button {
        display: none;
    }

    .menu-button, .account-button{
        display: block;
    }
}
