<form class="search-bar-form">
    <div class="search-bar-container">
        <div class="search-input-group">
            <app-search-bar-button></app-search-bar-button>
            <app-menu-button class="menu-button"></app-menu-button>
            <input class="search-bar-input" placeholder="Buscar..." aria-label="Buscar" />
        </div>
        <app-filter-button class="filter-button"></app-filter-button>
        <app-account-button class="account-button"></app-account-button>
    </div>
</form>
