<div class="login-container">
  <h1 class="login-title">Bienvenido a Val, tu asistente para organizar y gestionar tu hogar.</h1>
  <div class="login-box">
    <h3 class="login-subtitle">Inicia sesión y empieza a mejorar la vida en familia</h3>
    <form class="login-form">
      <div class="form-group">
        <input type="text" id="email" class="form-input" placeholder=" " required>
        <label for="email" class="form-label">Correo electrónico o teléfono</label>
      </div>
      <div class="form-group password-group">
        <input type="password" id="password" class="form-input" placeholder=" " required>
        <label for="password" class="form-label">Contraseña</label>
        <button type="submit" class="icon-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
            <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
          </svg>
        </button>
      </div>
      <div class="form-group remember-me">
        <input type="checkbox" id="remember-me" class="checkbox-input">
        <label for="remember-me" class="checkbox-label">Recuérdame</label>
      </div>
    </form>
    
    <div class="login-options">
      <a href="/forgot-password" class="forgot-password">¿Olvidaste tu contraseña?</a>
      <div>
        <span>¿No tienes cuenta?</span>
        <a href="/register" class="register-link"> Crea una ahora.</a>
      </div>
    </div>
  </div>
</div>
